.sudoku-container {
	margin: auto;
}

.cell {
	width: 11.11%;
    height: 11.11%;
	float: left;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 0px 0px 1px black;
	box-shadow: 0px 0px 0px 1px #bdc3c7, inset 0px -2px 0 0 #34495e;
	box-shadow: 0px 0px 0px 1px #bdc3c7, inset -2px 0 0 black, inset 0px -2px 0 black;
}

.sudoku-board .cell span {
	color: #2c3e50;
	font-size: 25px;
	text-align: middle;
}

.border-h {
	box-shadow: 0px 0px 0px 1px #bdc3c7, inset 0px -2px 0 0 #34495e;
}

.sudoku-board {
    width: 50%;
	margin: 6px auto;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	box-shadow: 0px 0px 5px 5px #bdc3c7;
}

@media (min-width: 375px) {
	table {
		width: 100%;
	}
}
