* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex,
.flex>div {
    color: #145492;
    border: solid 1px;
    width: 33.33%;
    text-align: center;
}

.flex>div:before {
    display: inline-block;
    padding-top: 100%;
    content: '';
    vertical-align: middle;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    /* resize here or let window do it */
    min-width: 350px;
    margin: auto;
    font-size: calc(0.5vw + 10px)
}

div:nth-child(odd) {
    background: rgba(0, 0, 0, 0.25);
}

div.flex div:nth-child(odd) {
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* fill with numbers*/
div.flex {
    counter-reset: sudo;
}

div.flex div {
    font-size: 0;
    counter-increment: sudo;
    color: gray;
    text-shadow: 1px 1px 1px white;
}

div.flex div:after {
    /* content: counter(sudo); */
    font-size: calc(1vw + 10px);
    vertical-align: middle;
}