* {
	box-sizing: border-box;
	margin: auto;
}

table {
	text-align: center;
	border: 3px solid black;
}

td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

td:nth-of-type(3n) {
	border-right: 3px solid black;
}

tr:nth-of-type(3n) td {
	border-bottom: 3px solid black;
}
